h1 {
    color: purple;
}

.zeile div {
    padding: 10px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    float: left;
}
.zeile {
    clear: both;
}

#displayWin {
    color: purple;
    font-size: large;
    font-weight: bold;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}